@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', Arial, sans-serif; /* 设置全局默认字体 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}